<section class="c-coc u-vm++">
  <div class="o-wrapper">
    <h1 id="talks" class="c-coc__title">Charlas</h1>

    <% for (var i = 0; i < sessions.length; i++) { %>
      <% if (sessions[i].type == 'talk') { %>
        <article id="<%= sessions[i].id %>" class='c-articles'>
          <h2><%= sessions[i].title %><small><%= sessions[i].time %></small></h2>
          <% for (var j = 0; j < sessions[i].abstract.length; j++) { %>
            <p class="c-articles__abstract"><%= sessions[i].abstract[j] %></p>
          <% } %>
          <p>
            <ul class="c-article__resources">
              <% if (sessions[i].slides != null) { %>
                <li>
                  <a href="<%= sessions[i].slides %>" target="_blank" rel="noopener">
                    <svg><use xlink:href="#slides"></use></svg>
                    <span>Slides</span>
                  </a>
                </li>
              <% } %>
              <% if (sessions[i].video != null) { %>
                <li>
                  <a href="<%= sessions[i].video %>" target="_blank" rel="noopener">
                    <svg><use xlink:href="#youtube"></use></svg>
                    <span>Video</span>
                  </a>
                </li>
              <% } %>
            </ul>
          </p>
          <p>
            <ul>
              <% for (var j = 0; j < sessions[i].speakers.length; j++) { %>
                <li>
                  <a href="speakers.html#<%= speakers[sessions[i].speakers[j]].id %>">
                    <img src="speakers/<%= speakers[sessions[i].speakers[j]].photo %>" class="c-article__image"/>
                    <span><%= speakers[sessions[i].speakers[j]].name %></span>
                  </a>
                </li>
              <% } %>
            </ul>
          </p>
          <p>
            <ul class="c-articles__tags">
              <% for (var j = 0; j < sessions[i].tags.length; j++) { %>
              <li style="background-color: <%= tags[sessions[i].tags[j]] %>;"><%= sessions[i].tags[j] %></li>
              <% } %>
            </ul>
          </p>
        </article>
      <% } %>
    <% } %>

    <h1 id="workshops" class="c-coc__title">Talleres</h1>

    <% for (var i = 0; i < sessions.length; i++) { %>
      <% if (sessions[i].type == 'workshop') { %>
      <article id="<%= sessions[i].id %>" class='c-articles'>
        <h2><%= sessions[i].title %><small><%= sessions[i].time %></small></h2>
        <% for (var j = 0; j < sessions[i].abstract.length; j++) { %>
        <p><%= sessions[i].abstract[j] %></p>
        <% } %>
        <p>
        <ul class="c-article__resources">
          <% if (sessions[i].slides != null) { %>
            <li>
              <a href="<%= sessions[i].slides %>" target="_blank" rel="noopener">
                <svg><use xlink:href="#slides"></use></svg>
                <span>Slides</span>
              </a>
            </li>
          <% } %>
          <% if (sessions[i].github != null) { %>
            <li>
              <a href="<%= sessions[i].github %>" target="_blank" rel="noopener">
                <svg><use xlink:href="#github"></use></svg>
                <span>GitHub</span>
              </a>
            </li>
          <% } %>
        </ul>
        </p>
        <p>
          <ul>
            <% for (var j = 0; j < sessions[i].speakers.length; j++) { %>
              <li>
                <a href="speakers.html#<%= speakers[sessions[i].speakers[j]].id %>">
                  <img src="speakers/<%= speakers[sessions[i].speakers[j]].photo %>" class="c-article__image"/>
                  <%= speakers[sessions[i].speakers[j]].name %>
                </a>
              </li>
            <% } %>
          </ul>
        </p>
        <p>
          <ul class="c-articles__tags">
            <% for (var j = 0; j < sessions[i].tags.length; j++) { %>
            <li style="background-color: <%= tags[sessions[i].tags[j]] %>;"><%= sessions[i].tags[j] %></li>
            <% } %>
          </ul>
        </p>
      </article>
      <% } %>
    <% } %>

    <div class="o-box u-mv+"></div>
  </div>
</section>
