<section class="c-coc u-vm++">
  <div class="o-wrapper">
    <h1 class="c-coc__title">Charlas</h1>

    <% for (var i = 0; i < sessions.length; i++) { %>
      <% if (sessions[i].type == 'talk') { %>
        <article id="<%= sessions[i].id %>" class='c-articles'>
          <h2><%= sessions[i].title %><small><%= sessions[i].time %></small></h2>
          <% for (var j = 0; j < sessions[i].abstract.length; j++) { %>
            <p><%= sessions[i].abstract[j] %></p>
          <% } %>
          <p>
            <ul>
              <% for (var j = 0; j < sessions[i].tags.length; j++) { %>
              <li style="background-color: <%= tags[sessions[i].tags[j]] %>;"><%= sessions[i].tags[j] %></li>
              <% } %>
            </ul>
          </p>
          <p><a href="speakers.html#<%= sessions[i].speaker_id %>"><%= sessions[i].speaker_name %></a></p>
        </article>
      <% } %>
    <% } %>

    <h1 class="c-coc__title">Talleres</h1>

    <% for (var i = 0; i < sessions.length; i++) { %>
      <% if (sessions[i].type == 'workshop') { %>
      <article id="<%= sessions[i].id %>" class='c-articles'>
        <h2><%= sessions[i].title %><small><%= sessions[i].time %></small></h2>
        <% for (var j = 0; j < sessions[i].abstract.length; j++) { %>
        <p><%= sessions[i].abstract[j] %></p>
        <% } %>
        <p><a href="speakers.html#<%= sessions[i].speaker_id %>"><%= sessions[i].speaker_name %></a></p>
        <ul>
          <% for (var j = 0; j < sessions[i].tags.length; j++) { %>
          <li><%= sessions[i].tags[j] %></li>
          <% } %>
        </ul>
      </article>
      <% } %>
    <% } %>

    <div class="o-box u-mv+"></div>
  </div>
</section>