<div id="schedule" class="u-pv++ u-bg--primary-dark u-color--white">
  <div class='o-wrapper'>
    <h2 class='u-font-weight--300 u-mb++ u-text-align--center'>Cronograma</h2>
    <table class="c-schedule-table">
      <thead>
        <tr>
          <th class="u-1-of-9">
          </th>
          <th class="u-3-of-9">
            CHARLAS (Sala Mario Benedetti)
          </th>
          <th class="u-3-of-9">
            TALLERES (Sala Vilariño)
          </th>
          <th class="u-1-of-9">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="u-text-align--center">
            <b>9:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Acreditaciones / Desayuno</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>9:30</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[0].id %>">
              <%= sessions[0].title %>
            </a>
            <small><%= sessions[0].speaker_name %></small>
          </td>
          <td rowspan="2" class='u-bg--primary-light'>
            <a href="sessions.html#<%= sessions[8].id %>">
              <%= sessions[8].title %>
            </a>
            <small><%= speakers[sessions[8].speakers[0]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>10:15</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[1].id %>"><%= sessions[1].title %></a>
            <small><%= speakers[sessions[1].speakers[0]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>11:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Coffee break</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>11:30</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[2].id %>"><%= sessions[2].title %></a>
            <small><%= speakers[sessions[2].speakers[0]].name %></small>
          </td>
          <td rowspan="2" class='u-bg--primary-light'>
            <a href="sessions.html#<%= sessions[9].id %>">
              <%= sessions[9].title %>
            </a>
            <small><%= speakers[sessions[9].speakers[0]].name %> - <%= speakers[sessions[9].speakers[1]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>12:15</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[3].id %>"><%= sessions[3].title %></a>
            <small><%= speakers[sessions[3].speakers[0]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>13:00</b>
          </td>
          <td rowspan="2" colspan="2" class='u-bg--secondary-x-light'>
            <h6>Almuerzo</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>13:45</b>
          </td>
        </tr>

        <tr>
          <td>
            <b>14:30</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[4].id %>"><%= sessions[4].title %></a>
            <small><%= speakers[sessions[4].speakers[0]].name %> - <%= speakers[sessions[4].speakers[1]].name %></small>
          </td>
          <td rowspan="2" class='u-bg--primary-light'>
            <a href="sessions.html#<%= sessions[10].id %>">
              <%= sessions[10].title %>
            </a>
            <small><%= speakers[sessions[10].speakers[0]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>15:15</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[5].id %>"><%= sessions[5].title %></a>
            <small><%= speakers[sessions[5].speakers[0]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>16:00</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Coffee break</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>16:30</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[6].id %>"><%= sessions[6].title %></a>
            <small><%= speakers[sessions[6].speakers[0]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>17:15</b>
          </td>
          <td>
            <a href="sessions.html#<%= sessions[7].id %>"><%= sessions[7].title %></a>
            <small><%= speakers[sessions[7].speakers[0]].name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <b>18:00</b>
          </td>
          <td>
            <h6>Cierre</h6>
          </td>
        </tr>

        <tr>
          <td>
            <b>18:15</b>
          </td>
          <td colspan="2" class='u-bg--secondary-x-light'>
            <h6>Drinkup</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
