<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='mobileuy.css'/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>

    <%- include('_header.ejs') %>

    <%- include('_counter.ejs') %>

    <%- include('_about.ejs') %>

    <%- include('_proposal.ejs') %>

    <%- include('_sponsors.ejs') %>

    <%- include('_map.ejs') %>

    <script type="text/javascript" src="mobileuy.vendor.js"></script>
    <script type="text/javascript" src="mobileuy.app.js".></script>
  </body>
</html>
