<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="<%- cssFileName %>"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <%- include('_icons.ejs') %>
    <%- include('_header.ejs') %>
    <%- include('home/_hero.ejs') %>
    <%- include('home/_about.ejs') %>
    <%- include('home/_counter.ejs') %>
    <section class='o-section u-height--100 o-wrapper'></section>
    <%- include('home/_cfs.ejs') %>
    <%- include('home/_sponsors.ejs') %>
    <%- include('home/_venue.ejs') %>
    <%- include('_footer.ejs') %>

    <div class="variables-metadata u-display--none"></div>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>

    <script type="text/javascript" src="<%- jsVendorFileName %>"></script>
    <script type="text/javascript" src="<%- jsFileName %>"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79850389-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>