<!DOCTYPE html>
<html>
  <head>
    <%- include('_common-head.ejs') %>
  </head>
  <body>
    <%- include('_header.ejs', {is_home: true}) %>
    <%- include('home/_hero.ejs') %>
    <%- include('home/_about.ejs') %>
    <%- include('home/_newsletter.ejs') %>
    <%- include('home/_counter.ejs') %>
    <%- include('home/_register.ejs') %>
    <%- include('home/_schedule.ejs') %>
    <%- include('home/_speakers.ejs') %>
    <%- include('home/_sponsors.ejs') %>
    <%- include('home/_team.ejs') %>
    <%- include('home/_venue.ejs') %>
    <%- include('_footer.ejs') %>
    <%- include('_common-body.ejs') %>
  </body>
</html>
